
  <div class="chatMenu">
    <h1 class="chatLogo">sChat</h1>
    <img class="menuButton" src="/img/nav-menu-icon.png">

      <h3>Chatrooms: <button>+</button></h3>
      <ul id="channelList" class="channelList"> 
      </ul>
      <h3>Private: <button id="newPrivateChat">+</button></h3>
      <p>User </p>
      <p>Volodea</p>
      <p>Paola</p>
    </div>

    <div class="chatMessageArea">
        <ul class="pages">
          <li class="chat page">
            <div class="chatArea">
              <div class="chat-members">

                <ul id="online-chat-members">
                </ul>
              </div>
              <ul class="messages"></ul>
            </div
            <div class="input-wrapper">
              <button class="attach-button" id="addSnippetMessageShow" type="button">&nbsp;</button>
              <button class="attach-button" id="addImgMessageShow" type="button">&nbsp;</button>
              <input class="inputMessage" placeholder="Type here..."/>
            </div>  
          </li>
       </ul>
    </div>

  {{!-- Hiden elements of the page! add New Private Chatroom--}}
  {{!-- --------------------------------------------------- --}}
  {{!-- add a new private chat form --}}
  <div class="addPrivateChat" id="addPrivateChatWrapper">
    <div id="closeAddPrivateChatBtn">X</div>
    <div>
      <form>
        <h3>Username:</h3>
        <input id="addPrivateChatUser" type="text" name="user" placeholder="Username here" size="80" /><br />
        <h3>Message:</h3>
        <input id="addPrivateChatMessage" type="text" name="message" placeholder="Message here" size="80" ><br />
        <button id="addPrivateChatBtn" type="button">Submit</button>
      </form>
    </div>
  </div>

  {{!-- --------------------------------------------------- --}}
  {{!-- add image to chat form --}}
  <div class="addImgMessage" id="addImgMessage">
    <div id="closeAddImgMessageBtn">X</div>
    <div>
      <form>
        <h3>Snippet: </h3>
        <input id="addImgMessageUrl" type="text" name="url" placeholder="URL here" size="80" />
        <button id="addImgMessageBtn" type="button">Submit</button>
      </form>
    </div>
  </div>

  {{!-- add image to chat form --}}
  <div class="addSnippetMessage" id="addSnippetMessage">
    <div id="closeAddSnippetMessageBtn">X</div>
    <div>
      <form>
        <h3>Image url: </h3>
        <textarea autofocus  spellcheck="false" id="addSnippetMessageContent" name="snippet" placeholder="Paste snippet here" ></textarea><br />
        <button id="addSnippetMessageBtn" type="button">Submit</button>
      </form>
    </div>
  </div>

  {{!-- Hiden div for image preview --}}
  <div class="imagePreviewDiv">
    <div>&nbsp;</div>
    <div id="closeImagePreview"><h1>X</h1></div>
    <p>To close the Foto press "X" on upper-left corner </p>
  </div>

<script>
var username = '{{username}}';
</script> 
<script src="/js/main.js"></script>




