




  <div class="chatMenu">
    <h1 class="chatLogo">sChat</h1>
    <img class="menuButton" src="/img/nav-menu-icon.png">

      <h3>Chatrooms:</h3>
      <p>General</p>
      <h3>Private messages:</h3>
      <p>User</p>
      <p>Volodea</p>
      <p>Paola</p>



    
    </div>


    <div class="chatMessageArea">
      
        <ul class="pages">
          <li class="chat page">
            <div class="chatArea">
              <div class="chat-members">

                <ul id="online-chat-members">
                  <li>Admin</li>
                  <li>User</li>
                  <li>Jim</li>
                </ul>
              </div>
              <ul class="messages"></ul>
            </div>
            <div class="input-wrapper">
              <button class="attach-button" type="button">&#128206;</button>
              <input class="inputMessage" placeholder="Type here..."/>
            </div>



            
            
          </li>
       </ul>
    </div>

    



    


<script>
var username = '{{username}}';
</script> 
<script src="/js/main.js"></script>



