
  <div class="login-page authentication">
    <div id="login-form">
      <p class="error-message"> {{message}} </p>
      <form action="/login" method="post">
        <label class="form-block">
         <p>Username: </p>
          <input type="text" name="username" size="25" />
        </label><br />
        <label class="form-block">
         <p>Password: </p>
          <input type="password" name="password"  size="25" />
        </label><br />
        <button>Sign in</button><br />
        <p>New User? <a class="homepage-login-btn" id="homepageRegisterBtn" href="/#">Register </a></p>
      </form>
    </div> 
  </div>
    
  <div class="register-page authentication">
    <div id="register-form" >
      <p class="error-message"> {{message}} </p>
      <form action="/register" method="post">
        <label class="form-block">
         <p>Pick a username: </p>
          <input type="text" name="username" size="25" />
        </label><br />
        <label class="form-block">
          <p>Choose a password: </p>
          <input type="password" name="password"  size="25" />
        </label><br />
         <label class="form-block">
          <p>Choose a password: </p>
          <input type="password" name="password"  size="25" />
        </label><br />
        <button>Sign up</button><br />
        <p> Already registered? <a class="homepage-login-btn" id="homepageLoginBtn" href="/login">Login</a></p> 
      </form>
    </div>  
  </div>
    

 
</main>
<script src="/js/main.js"></script>
