
<section class="authentication">
  <div class="container">
    <div class="row">
      <div class="login-register-form">
        <div class="login-page">
          <div id="login-form">
            <p class="error-message"> {{message}} </p>
            <form class="form-horizontal" action="/login" method="post">
              <label class="control-label">Username:</label>
              <input class="form-control" type="text" name="username" size="25" required/>
              <label class="control-label">Password:</label>
              <input class="form-control" type="password" name="password" size="25" required/>
              <button class="btn btn-default">Login</button>
            </form>
            <p>New User? <a class="homepage-login-btn" id="homepageRegisterBtn" type="button">Register </a></p>
          </div> 
        </div>
        
        <div class="register-page">
          <div id="register-form" >
            <p class="error-message"> {{message}} </p>
            <form class="form-horizontal" action="/register" method="post">
              <label class="control-label">Pick a username:</label>
              <input class="form-control" type="text" name="username" required/>
              
              <label class="control-label" for="register-password">Choose a password:</label>
              <input class="form-control" id="register-password" type="password" name="password" required/>
              
              <label class="control-label">Repeat password:</label><br />
              <input class="form-control" type="password" name="passwordRepeat" required/>
              
              <button class="btn btn-default">Sign up</button><br />
              <p> Already registered? <a class="homepage-login-btn" id="homepageLoginBtn" href="#" type="button">Login</a></p> 
            </form>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
  
  
<script>
var username;
</script> 

