/**
 * Main Stylesheet
 */

::selection { background: @orange; color: @white; }
::moz-selection { background: @orange; color: @white; }

@import 'modules/colors';     // Global color scheme
@import 'modules/mixins';     // Mixins
// @import 'modules/grid';       // Baseline grid
@import 'modules/flex-grid';  // Flexbox grid
@import 'modules/type';       // Typography

 * {
      color: #402E10;
      box-sizing: border-box;
    }

/* Fix user-agent */

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('/img/main-bg.jpeg');
  background-size: cover;
}

ul {
  list-style: none;
  word-wrap: break-word;
}


.chatMenu {
  padding: 30px;
  width: 25%;
  height: 100%;
  border: 1px solid lightblue;
  float: left;
  border-right: none;
  font-size: 20px;
  h1 {
    display: inline-block;
    float: left;
    color: lightblue;
  }
  .menuButton {
    padding: 3px;
    border: 1px solid lightblue;
    display: block;
    height: 30px;
    width: 30px;
    float: right;
  }
  .menuButton:hover {
      padding: 5px;
    }

  h3  {
    clear: both;
    color: #555;
    button {
      border-radius: 50%;
      border: 1px solid #999;
      background-color: #ccc;
      &:hover {
      border: 1px solid #777;
      background-color: #aaa;
      color: #eee;
    }
    }
    
  }
}

.channelList {
  padding-left: 10px;
  li {
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 0;
  }
  
}

.livestamp {
  color:  grey;
  font-weight: normal;
  font-style: italic;
}

.chatMessageArea {
  float: left;
  width: 75%;
  height: 100%;
  border: 1px solid lightblue;;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

.page {
  height: 100%;
  position: absolute;
  width: 74.8%;

}

/* Login Page */

.login.page {
  background-color: #000;
}

/* Chat page */

.chat.page {
  display: block;
  .chat-members {
    ul {
      li {
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
    position: fixed;
    right: 10%;
    top: 20px;
    z-index: 100;
  }
}

/* Font */

.messages {
  font-size: 150%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  font-size: 150%;
  border: 10px solid lightblue;
  bottom: 0;
  height: 60px;

  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 95%;
  display: inline;
  float: left;
}

.attach-button {
  font-size: 150%;
  border: 10px solid lightblue;
  // background: #999;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 5%;
  border-right: 0;
  display: inline;
  float: left;
  
}

.login-page {
  display: block;
}

.register-page {
  display: none;
}

.form-wrapper {}

.addPrivateChat{
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  div:first-child {
    position: fixed;
    right: 50px;
    top: 50px;
    color: #777;
    font-size: 55px;
    border-radius: 50%;
    border: 1px solid #777;
    width: 80px;
    height: 80px;
    padding-left: 22px;
    padding-right: 0;
    &:hover {
      color: #999;
      background-color: #333;
      border: 1px solid #999;
    }
  }
  div:nth-child(2) {
    position: fixed;
    top: 40%;
    left: 30%;
    margin: 0 auto;
    width: 40%;
    height: 30%;
    input {
    }
    h3 {
      color: #eee;
      text-align: left;
    }
    button  {
      margin-top: 20px;
    }
  }
  }
