<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{pageTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/style.css" />
  <script   src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="/js/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
  <!--[if lt IE 9]>
  <script src="vendor/html5shiv/dist/html5shiv.min.js"></script>
  <script src="vendor/respond/dest/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  {{>header}}

  {{{body}}}

  {{>footer}}

 
  

</body>
</html>
